@page "/"

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <h1>CRUD Productos</h1>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <h4>4Alpha Technologies S.A. de C.V.</h4>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <h4>Este Proyecto fue creado principalmente para perticipar en el proceso de seleccion de la empresa 4Alpha Technologies en la vacante como Desarrollador .Net, en el cual se podra agregar, editar, consultar y eliminar registros de Productos de diferentes categorias.</h4>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <h4>Para empezar a utiilizarlo porfavor de clic en la opcion de Productos en la barra de navegacion que esta justo del lado izquierdo de su pantalla.</h4>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <h4>!Gracias¡</h4>
        </div>
    </div>
</div>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
